<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ejs template</title>
    </head>
    <body>
        <div id="root" style="color: red"><%- content %></div>
    </body>
</html>